{% load static%}
<!DOCTYPE html>
<html>
<head>
	<title>::Addition ::</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

	<script type="text/javascript" src="{% static 'js/myscript.js' %}">
		// function Addition() {
		// 	var First_num=document.getElementById('fn').value;
		// 	var Second_num=document.getElementById('sn').value;
		// 	document.getElementById('result').innerText=parseInt(First_num)+parseInt(Second_num);
		// 	// body...
		// }
	</script>
	<!-- External File Handling -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/mystyle.css'%}">
	<!-- Internal File handling -->
	<!-- <style type="text/css">
		body{
			text-align:center;
			background-color:#543256; 
		}
		h1{
			color: white;
		}
	</style> -->
</head>
<body>
	<div class="jumbotron">
		<h1>This is Addition page</h1>
		<input type="text" placeholder="Enter First Value" id="fn"><br>
		<input type="text" placeholder="Enter Second Value" id="sn"><br>
		<input type="submit" value="Addition" onclick="Addition()">
		<h1 id="result"></h1>
	</div>
</body>
</html>